
@{
    ViewData["Title"] = "Register Property";
}

@section Styles {
    <link href="/css/register.css" rel="stylesheet">
}

<h2>Register New Property</h2>

<form class="col-8">
    <div id="alertSaved" class="alert alert-success hide">The property has been registered!</div>
</form>


@section Scripts {
    <script src="/js/register.js"></script>
}

<!-- create new form here...

Monthly price:
Image
Bedrooms
Bathroom
Location
SqrFeet
Description

-->